<div class="group about-us">
  <div id="profile_heading">
    <h3><%= current_user.email %></h3>
    <br>
    <button class="btn" id="edit_profile_toggle_button">Complete Your Profile</button>
    <br>
    <br>
    <br>


    <div id="user_profile">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= f.text_field :address, placeholder: "Address" %>
          <%= f.text_field :zip, placeholder: "ZipCode" %>
          <%= f.text_field :city, placeholder: "City" %>
          <%= f.text_field :role, placeholder: "Current Role" %>
          <%= f.text_field :website_url, placeholder: "Website" %>
        </div>

        <div><i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, placeholder: "Current Password" %></div>

        <div><%= f.submit "Update", class: "btn btn-primary" %></div>
      <% end %>
    </div>

  <button class="btn" id="edit_password_toggle_button">Edit Password</button>
    <div id="edit_password">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>

        <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password %></div>

        <div><%= f.submit "Update", class: "btn btn-primary" %></div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-warning" %></p>

      <%= link_to "Back", :back %>
    </div>



  </div>

  <div class="profile_tab_box">
    <ul class="nav nav-tabs">
      <li class="active" id="comments_tab"><%= link_to "Comments", "#", id: "show_comments" %></li>
      <li id="reports_tab"><%= link_to "Reports", "#", id: "show_reports" %></li>
    </ul>
    <ul id="comments_list">
      <% current_user.reviews.each do |review| %>

        <h4><%= review.product.product_name %>:   <%= review.rating %>/5</h4>
        <h4>"<%= link_to review.desc, review %>"</h4>
        <hr>
      <% end %>

    </ul>
    <ul id="reports_list">
      <% Report.all.each do |report| %>
      <li><h4><%= link_to report.title, "../#{report.link}" %></h4></li>
      <% end %>
    </ul>
  </div>
</div>

<script>

$('#user_profile').hide();
$("#edit_profile_toggle_button").click(function() {
  $("#user_profile").fadeToggle("slow", "linear");
});

$('#edit_password').hide();
$("#edit_password_toggle_button").click(function() {
  $("#edit_password").fadeToggle("slow", "linear");
});

$("#show_comments").click(function(){
  $("#reports_tab").removeClass("active")
  $("#comments_tab").addClass("active")
  $("#reports_list").hide();
  $("#comments_list").fadeToggle("slow", "linear")

});

$("#reports_list").hide();
$("#show_reports").click(function() {
  $("#comments_tab").removeClass("active")
  $("#reports_tab").addClass("active")
  $("#comments_list").hide();
  $("#reports_list").fadeToggle("slow", "linear");
});

</script>
