<div class="group about-us grid margin-up">

  <% if notice.present? %>
    <p id="homepage_messages"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p id="homepage_messages"><%= alert %></p>
  <% end %>

  <%= devise_error_messages! %>
  <div class="dash-contact-box">
    <h3>Questions? Contact us anytime: hello@happilabs.org | 312-569-0161</h3>
  </div>
  <div id="profile_heading" class="dash-profile-box">
    <h4 class="dash-name"><%= current_user.first_name %> <%= current_user.last_name %> Profile</h4>
    <p class="dash-name dash-user">Login name:</p>
    <h3><%= current_user.email %></h3>
    <p class="dash-name dash-user">Organization:</p>
    <h3><%= current_user.organization %></h3>
    <p class="dash-name dash-user">Subscription Level:</p>
    <h3><%= current_user.subcription_level %></h3>
    <br>

    <% if current_user.subcription_level == "10 microliter" %>
      <button class="btn btn-danger" id="upgrade_account_toggle_button">Upgrade Your Subscription Level</button>
      <br>
      <br>
      <br>
      <div id="upgrade_account">

          <%= form_tag charges_path do %>
            <article>
                <label class="amount">
                  <h4>200ul Annual Subscription: $195</h4>
                  <p>For information on your upgrade benefits: <%= link_to "About 200ul", two_hundred_ml_url %></p>
                </label>
            </article>

              <script src="https://checkout.stripe.com/v2/checkout.js"
                      class="stripe-button"
                      data-key="pk_test_9PskHUu23luHHqu6pwVYSDEt"
                      data-description="200 ul Annual Subscription"
                      data-amount="19500">
              </script>

          <% end %>
      </div>

    <% end %>


    <button class="btn btn-danger" id="edit_profile_toggle_button">Complete Your Profile</button>
    <br>
    <br>
    <br>


    <div id="user_profile">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= f.text_field :organization, placeholder: "Organization" %>
          <%= f.text_field :address, placeholder: "Address" %>
          <%= f.text_field :zip, placeholder: "ZipCode" %>
          <%= f.text_field :city, placeholder: "City" %>
          <%= f.text_field :role, placeholder: "Current Role" %>
          <%= f.text_field :website_url, placeholder: "Website" %>
        </div>

        <div><i>(please enter your current password again to confirm your changes)</i><br />
        <%= f.password_field :current_password, placeholder: "Current Password" %></div>

        <div><%= f.submit "Update", class: "btn btn-primary" %></div>
      <% end %>
    </div>

  <button class="btn" id="edit_password_toggle_button">Edit Password</button>
    <div id="edit_password">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>

        <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password %></div>

        <div><%= f.submit "Update", class: "btn btn-primary" %></div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-warning" %></p>

      <%= link_to "Back", :back %>
    </div>



  </div>

  <div class="profile_tab_box">
    <ul class="nav nav-tabs dash-tabs">
      <li class="active" id="comments_tab"><%= link_to "Your Reviews & Voices", "#", id: "show_comments" %></li>
      <li id="reports_tab"><%= link_to "Your Reports", "#", id: "show_reports" %></li>
    </ul>
    <ul id="comments_list" class="comments-listing">
      <p class="second-p dash-p"><strong>Thank you</strong> for contributing. Your feedback is important to improving the quality of scientific research.</p>
      <% current_user.reviews.reverse.each do |review| %>
        <h4 class="dash-comm-title"><%= review.product.product_name %>:   <%= review.rating %>/5 | <%= review.updated_at.strftime("%B %d, %Y") %></h4>
        <p class="second-p">"<%= link_to review.desc, review %>"</p>
        <hr>
      <% end %>

    </ul>
    <ul id="reports_list">
      <p class="second-p dash-p"><strong>Never get ripped off again!</strong> Use these reports to ensure you are paying a fair price and using good quality products. Enjoy...</p>
      <% Report.all.reverse.each do |report| %>
      <li class="reports-list"><h4 id="suckit"><%= link_to report.title, "../#{report.link}" %></h4></li>
      <% end %>
    </ul>
  </div>
</div>

<script>


$('#upgrade_account').hide();
$("#upgrade_account_toggle_button").click(function() {
  $("#upgrade_account").fadeToggle("slow", "linear");
});


$('#user_profile').hide();
$("#edit_profile_toggle_button").click(function() {
  $("#user_profile").fadeToggle("slow", "linear");
});

$('#edit_password').hide();
$("#edit_password_toggle_button").click(function() {
  $("#edit_password").fadeToggle("slow", "linear");
});

$("#show_comments").click(function(){
  $("#reports_tab").removeClass("active")
  $("#comments_tab").addClass("active")
  $("#reports_list").hide();
  $("#comments_list").fadeToggle("slow", "linear")

});

$("#reports_list").hide();
$("#show_reports").click(function() {
  $("#comments_tab").removeClass("active")
  $("#reports_tab").addClass("active")
  $("#comments_list").hide();
  $("#reports_list").fadeToggle("slow", "linear");
});

if (<%= devise_error_messages!.present? %> == true){
  $("#user_profile").show();
  $("#edit_password").show();
}

</script>
