  <div class="innerbg">
    <div class="leftbg">
    </div>

      <div class="hero-unit">
        <div class="container">
          <div class="row-fluid">
            <div class="">
                <% if notice.present? %>
                <p id="homepage_messages"><%= notice %></p>
                <% end %>

                <% if alert.present? %>
                <p id="homepage_messages"><%= alert %></p>
                <% end %>
              <hr class="half">
                <h1><span class="yellow">Welcome to the Community</span></h1>
                <h2 class="text-center">
                <span class="get-it">Providing scientists with jobs, happiness, and intelligence about the price, quality, & sustainability of scientific supplies</span>
                </h2>
              </hr>


            </div>
            <div class="camein">

          <div class="footer-col" id="newsletter-home">
            <h5>Receive our newsletter for company updates, jobs, and science jokes</h5>
            <ul>
              <!-- <li>Receive our newsletter</li> -->
              <% @subscriber = Subscriber.new %>
              <%= form_for(@subscriber) do |f| %>
                <% if @subscriber.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

                    <ul>
                    <% @subscriber.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">

                  <%= f.text_field :first_name, placeholder: "Name" %>
                </div>

                <div class="field">
                  <%= f.text_field :email, placeholder: "Email" %>
                </div>

                <div class="actions">
                  <%= f.submit "Submit", :class => "btn btn-success" %>
                </div>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

        <iframe src="//player.vimeo.com/video/71992400" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>
  </div>

<div>
  <div class="page-heading">
    <h2 class='container content-container'>DATA, RATINGS, AND REVIEWS</h2>
    <h4 class="container heading-liner">This is a forum where scientists help scientists by sharing price & quality information about lab supplies.</h4>
  </div>

    <div id="home-review-space" class="group">
        <div class="review-intro" class="group">
          <p><strong>Why is this important?</strong> Read the reports...</p>
            <ul>
              <li>Via <em>Science</em>: <a href="http://www.sciencemag.org/content/322/5903/917.short">Bioactive Contaminants Leach from Laboratory Plasticware</a></li>
              <li>Via <em>Nature</em>: <a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Plastics Hamper DNA Assays</a></li>
            </ul>
        </div>

        <div class="review-intro group">

            <h2 id="how-it-works">How it works</h2>
            <ol>
              <li>Select a category of lab supplies</li>
              <li>Select a brand and read scientist's product reviews or login to submit your own review</li>
              <li><%= link_to "200 µL subscribers", two_hundred_ml_path %> can view pricing data for each category</li>
            </ol>
        </div>

    </div>



    <section class='category-review-images group'>
      <div id="latest_reviews" >
        <center><h2 class="people-name">RECENT REVIEWS:</h2></br></center>
        <% @latest_reviews.each do |review| %>
          <span class="blue"><%= review.user.first_name %> from <%= review.user.organization %></br>
          about <%= review.product.category.name %></span></br>
        <span class="gray"><%= link_to review.desc, review.product %></span></br><hr>
        <% end %>
      </div>


      <div class='category-section container group'>
      <h2 class="people-name" id="yellow-heading">SELECT A CATEGORY</h2>
      <%# #TODO - add pictures to database & put dynamicness in below %>
      <ul>
        <li>
          <a href="<%= category_url(1) %>">
            <img src="products/pipette100.png" alt="pipette tip 10 happy reviews" title="scientific lab supply pipette tip review">
            10 ul tips
          </a>

        </li>
        <li>
          <a href="<%= category_url(2) %>">
            <img src="products/pipette200.png" alt="pipette tips 200 happy reviews" title="scientific lab supply pipette tip review">
           200 ul tips
          </a>
        </li>
        <li>
          <a href="<%= category_url(3) %>">
            <img src="products/pipette1000.png" alt="1000 pipette tip happy reviews" title="scientific lab supply pipette tip review">
            1000 ul tips
          </a>
        </li>
        <li>
          <a href="<%= category_url(4) %>">
            <img src="products/1.5ml_tube.png" alt="eppy microtube happy reviews" title="scientific lab supply eppy microtube review">
            1.5 mL microtube
          </a>
        </li>
        <li>
          <a href="<%= category_url(5) %>">
            <img src="products/15ml_conical_tube.png" alt="15 ml conical tube happy reviews" title="scientific lab supply 15ml conical tube review">
            15 mL conical tube
          </a>
        </li>
        <li>
          <a href="<%= category_url(6) %>">
            <img src="products/50ml_conical_tube.png" alt="50ml conical tube happy reviews" title="scientific lab supply conical tube review">50 mL conical tube
          </a>
        </li>
        <li>
          <a href="<%= category_url(8) %>">
            <img src="products/latex-glove_review.png" alt="latex gloves happy reviews" title="scientific lab supply latex gloves review">
            Latex gloves
          </a>
        </li>
        <li>
          <a href="<%= category_url(7) %>">
            <img src="products/nitrile_glove_review.png" alt="nitrile glove happy reviews" title="scientific lab supply nitrile glove review">
            Nitrile gloves
          </a>
        </li>

        <li>
          <a href="<%= category_url(11) %>">
            <img src="products/t75_flask2_review.png" alt="t75 flask cell culture happy reviews" title="scientific lab supply conical tube review">
            T75 flask
          </a>
        </li>
        <li>
          <a href="<%= category_url(12) %>">
            <img src="products/cell_culture_dish_review.png" alt="cell culture 100mm dish happy reviews" title="scientific lab supply 100mm dish review">
            100 mm dish
          </a>
        </li>
        <li>
          <a href="<%= category_url(9) %>">
            <img src="products/5ml_serological_pipet.png" alt="5ml serological pipet happy reviews" title="cell culture serological pipet review">
            5 mL serological pipet
          </a>
        </li>
        <li>
          <a href="<%= category_url(10) %>">
            <img src="products/10ml_serological_pipet.png" alt="10ml serological pipet happy reviews" title="cell culture 10ml serological pipet review">
            10 mL serological pipet
          </a>
        </li>
         <li>
          <a href="<%= category_url(14) %>">
            <img src="products/dome-pcr-tube.png" alt="dome cap pcr tube happy reviews" title="scientific lab supply pcr tube review">0.2 mL PCR tube
          </a>
        </li>
        <li>
          <a href="<%= category_url(15) %>">
            <img src="products/black-pcr-plate.png" alt="96 well pcr plate happy reviews" title="scientific lab supply pcr plate 96 wells review">96-well PCR Plates
          </a>
        </li>
        <li>
          <a href="<%= category_url(16) %>">
            <img src="products/genomic-dna-extraction-kit.png" alt="genomic dna extraction kit happy reviews" title="scientific lab supply genomic dna extraction kit reviews">Genomic DNA Extraction Kits
          </a>
        </li>
        <li>
          <a href="<%= category_url(17) %>">
            <img src="products/pcr-strip-tube.png" alt="PCR strips happy reviews" title="scientific lab supply genomic dna pcr 8-strip reviews">PCR 8-strip tubes
          </a>
        </li>
      </ul>
      </div>
    </section>
    <!-- <aside>
      <h3 class='center'>OUR MISSION</h3>
      <p>To improve the happiness of scientists &amp; the quality of theit research</p>
    </aside> -->
  </div>
</div>

<div class="small-grid">
  <div class="container content-container subscribe-us group">

      <div class="page-heading">
        <h2>SERVICES</h2>
        <h4>We help scientists save <strong>time & money</strong> by providing them with data about the <strong>price & quality</strong> of lab supplies.</h4>
        <h4>What volume of help would you like?</h4>
      </div>

      <h5>Happy Testimonials</h5>
        <div class="testimonial group">

            <img class="testimonial-img" src="ourpeople/happy_happilabs_customer_uic.jpg" alt="happy happilabs customer testimonial" title="Scientists are happy about HappiLabs">
            <p class="second-p">"HappiLabs has been extremely helpful. To date, they have <strong>saved us over $1,100</strong>. I am happy that a service like this exists; <strong>it makes my job easier.</strong>"</p>
            <p><a href="http://www.rrc.uic.edu/supplycenter/contact"><em>Jenny Beck, Director of the Research Resource Center at University of IL-Chicago</em> (contact Jenny if you have questions)</a></p>
          </div>
          <div class="testimonial group">

            <img class="testimonial-img" src="shad_thaxton_happilabs_testimonial.jpg" alt="happy happilabs customer testimonial" title="Scientists are happy about HappiLabs">
            <p class="second-p">"<strong>We recommend HappiLabs to PI's</strong> who need to save time and/or money with selecting the right supplies for their lab"</p>

            <p><a href="http://www.thaxtonlab.com/"><em>Shad Thaxton, MD/PhD, Assistant Professor at Northwestern University</em></a></p>
          </div>

        <div class="container" id="showprice">
          <div class="row-fluid text-center">
            <div class="span4 feature-box price-feature-box">
              <div class="pricing-table price-box">
                    <div class="price-header"  id="price10">
                      <span>10 &#181;L</span>

                    </div>
                    <div class="pricing-table-header">

                        <img src="happy_community.png" alt="10ul service read product reviews for scientists" title="read and write lab supply product ratings and reviews for happy scientists" class="price-photo">
                    </div>

                    <div class="pricing-table-features">
                        <ul class="subscribe-list">
                          <li>Submit <strong>product reviews</strong></li>
                          <li>Read what your peers have to say about the quality of lab supplies</li>
                        </ul>

                        <!-- <p>Monthly newsletter with useful resources for scientists</p>
                        <p>Ability to review products, companies, and your lab.</p>
                        <p></p> -->
                        <h5 class="sub-price">FREE</h5>
                    </div>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large btn-block btn-success btn-price"  %>
                    </div>
              </div>
            </div>


            <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table price-box">

                <div class="price-header" id="price200">
                      <span>200 &#181;L</span>

                </div>
                <div class="pricing-table-header">

                  <img src="happy_data.png" alt="200ul subscription to happi reports" title="subscribe to happi labs reports about the price and quality of lab supplies" class="price-photo">

                </div>

                    <div class="pricing-table-features">
                        <ul class="subscribe-list">
                          <li><strong>Gain access</strong> to pricing data and Product Intelligence Reports</li>
                          <li>Receive a one-time lab spending analysis</li>
                        </ul>

                    </div>
                    <h5 class="sub-price"><span id="small-price">Starting at </span>$250<span id="small-price">/year</span></h5>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Learn more!", two_hundred_ml_path, class: "btn btn-large btn-premium btn-block btn-price" %>
                    </div>
                  </div>
            </div>


          <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table price-box">
                  <div class="price-header"  id="price1000">
                      <span>1000 &#181;L</span>
                  </div>

                  <div class="pricing-table-header">
                    <img src="happy_lab_organization.png" alt="10ul subscription for happilabs lab manager report" title="hire a happy lab manager consultant to save money and time" class="price-photo">
                  </div>

                  <div class="pricing-table-space"></div>
                    <div class="pricing-table-features">
                        <!-- <h4>Rent-a-lab-manager to</h4> -->
                        <ul class="subscribe-list">
                          <li>Hire a <strong>Lab Manager Consultant</strong></li>
                          <li>We will search, shop, and negotiate purchasing for supplies</li>
                        </ul>
                         <h5 class="sub-price"><span id="small-price">Starting at </span>$500<span id="small-price">/year</span></h5>
                    </div>

                    <div class="pricing-table-sign-up">
                        <%= link_to "Learn more...", one_thousand_ml_path, class: "btn btn-large btn-premium btn-block btn-price" %>
                    </div>
                  </div>
              </div>


          </div>
        </div>
  </div>
</div>


<!--
  <div class="sky-background content-container group" id="share_your_voice">


      <div class="voices-intro">

        <h2>Share Your Voice</h2>
        <p class="second-p">This is the place to voice your opinion, ask for help, or make a suggestion about life in the lab. <strong>We're here to listen</strong>.</p>
        <p class="second-p">Our goal is to identify common sources of happiness and unhappiness in labs. Then we'll celebrate with you or find you a solution, respectively. Share your voice with other scientists and let's make life in the lab a happier place!</p>

      </div>

      <div class="voices-section group">
        <div class="voicesbox group">

        <div class="voices-background">
          <div class="voices-yellow group">
            <h5 class="happy">Happy</h5>
            <p>"My paper was accepted!"</p>
            <img src="smiley-face-test.png" alt="Happy voices from scientists" class="smiley-image">
          </div>
        </div>

          <div class="voices group">
            <h5 class="unhappy">Unhappy</h5>
            <p>"People borrowing your stuff without asking."</p>
          </div>

          <div class="voices-question group">
            <h5 class="question">Question</h5>
            <p>"How do I use twitter to communicate my research?"</p>
          </div>

        </div>

        <%# if user_signed_in? %>
          <div class= "voices-textbox">
            <%# form_for @user_voice, :url => user_voices_path do |f| %>

              <%# f.hidden_field :user_id, :value => current_user.id %>
              <div>
              <%# f.text_area :message, placeholder: "Share one thing that makes you happy or unhappy in your lab", :rows => 10, :columns => 8 %>
              </div>

              <div>
                <%# f.submit "Send", :class => "voices-btn" %>
              </div>
            <%# end %>
          </div>
        <%# else %>
          <div class="voices-textbox">
            <%# form_for @message, :url => voices_path do |f| %>
                <div>
                  <%# f.text_field :name, :placeholder => "Name" %>
                </div>

                <div>
                  <%# f.text_field :email, :placeholder => "Email" %>
                </div>

                <div>
                  <%# f.text_area :body, :placeholder => "Share one thing that makes you happy or unhappy in your lab, or ask us a question", :rows => 6 %>
                </div>

                <div>
                <%# f.submit "Send", :class => "voices-btn" %>
                </div>
            <%# end %>
          </div>
        <%# end %>


        <div class="voicesbox group">

          <div class="voices-question group">
            <h5 class="question">Question</h5>
            <p>"Is there an easier way to keep track of my mouse inventory?"</p>
          </div>

          <div class="voices-yellow group">
            <h5 class="happy">Happy</h5>
            <p>"Solid co-workers."</p>
            <img src="smiley-face-test.png" alt="Happy voices from scientists" class="smiley-image">
          </div>

          <div class="voices group">
            <h5 class="unhappy">Unhappy</h5>
            <p>"My snow boots have a hole in them and sitting here with wet feet sucks."</p>
          </div>

        </div>
      </div>

  </div>

 -->
