
    <!-- START PARALLAX BG -->
  <div class="innerbg">
    <div class="leftbg">
    </div>


      <div class="hero-unit">
        <div class="container">
          <div class="row-fluid">
            <div class="text-center">
              <hr class="half">
                <h1>Our <span class="yellow">Mission</span>:</h1>
                <h2 class="text-center">
                <span class="get-it">to improve the happiness of scientists & the quality of their research</span>
                </h2>
              <hr class="half">
            </div>
            <div class="camein">

                  <%= link_to "SIGN UP NOW", sign_up_url, class: "btn btn-large btn-danger btn-block-third" %>

                  <i class="or">- or -</i>
                  <%= link_to "LEARN MORE", about_us_url, class: "btn btn-large btn-block-third btn-warning" %>
            </div>
          </div>
        </div>
      </div>
  </div>

</header>

      <div class="hello grid">
        <ul>
          <li>Hello</li>
          <li>Ni hao</li>
          <li>Guten tag</li>
          <li>Konichiwah</li>
          <li>Privet</li>
          <li>Namaste</li>
          <li>Guten tag</li>
          <li>Konichiwah</li>
        </ul>
      </div>

  <div class="midlevel grid group">


      <div class="voices-intro">

        <h2>Share Your Voice</h2>
        <p>This is the place to voice <span class="important">your opinion</span> about life in the lab. Warn us about a faulty product, tell us when an experiment works, or complain about a co-worker. We're here to listen.</p>

        <p><span class="important">Our goal</span> is to identify common sources of happiness and unhappiness in labs. Then we'll celebrate with you or find you a solution, respectively. Submit a comment quickly below or log in to keep track of your comments.</p>
      </div>
      <img src="smiley-face-test.png" alt="smiley face" style="margin-left:180px;">
      <img src="smiley-face-test.png" alt="smiley face" style="margin-left:480px;">
    <div class="voices-section group">
      <div class="voicesbox group">

        <div class="voices group">
          <h5 class="happy">Happy</h5>
          <p>"My paper was accepted!"</p>
        </div>

        <div class="voices group">
          <h5 class="unhappy">Unhappy</h5>
          <p>"Unmotivational motivational speeches from my PI"</p>
        </div>

        <div class="voices group">
          <h5 class="happy">Happy</h5>
          <p>"Getting brand new syringes that makes our mouse experiments go more smoothly."</p>
        </div>

      </div>

      <% if user_signed_in? %>
        <div class= "voices-textbox">
          <%= form_for @user_voice, :url => user_voices_path do |f| %>

            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div>
            <%= f.text_area :message, placeholder: "Share one thing that makes you happy or unhappy in your lab", :rows => 12 %>
            </div>

            <div>
              <%= f.submit "Send" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="voices-textbox">
          <%= form_for @message, :url => voices_path do |f| %>
              <div>
                <%= f.text_field :name, :placeholder => "Name" %>
              </div>

              <div>
                <%= f.text_field :email, :placeholder => "Email" %>
              </div>

              <div>
                <%= f.text_area :body, :placeholder => "Share one thing that makes you happy or unhappy in your lab", :rows => 6 %>
              </div>

              <div>
              <%= f.submit "Send", :class => "submit-btn btn btn-large btn-block-third btn-warning" %>
              </div>
          <% end %>
        </div>
      <% end %>


      <div class="voicesbox group">

        <div class="voices group">
          <h5 class="unhappy">Unhappy</h5>
          <p>"People borrowing your stuff without asking."</p>
        </div>

        <div class="voices group">
          <h5 class="happy">Happy</h5>
          <p>"Solid co-workers."</p>
        </div>

        <div class="voices group">
          <h5 class="unhappy">Unhappy</h5>
          <p>"My snow boots have a hole in them and sitting here with wet feet sucks."</p>
        </div>

      </div>
    </div>

  </div>



</div>

