  <div class="innerbg">
    <div class="leftbg">
    </div>

      <div class="hero-unit">
        <div class="container">
          <div class="row-fluid">
            <div class="">
                <% if notice.present? %>
                <p id="homepage_messages"><%= notice %></p>
                <% end %>

                <% if alert.present? %>
                <p id="homepage_messages"><%= alert %></p>
                <% end %>
              <hr class="half">
                <h1>Our <span class="yellow">Mission</span>:</h1>
                <h2 class="text-center">
                <span class="get-it">to improve the happiness of scientists &amp; the quality of their research</span>
                </h2>
              <hr class="half">


            </div>
            <div class="camein">

                  <%= link_to "Read & Write a product review", categories_path, class: "btn btn-large btn-block-third btn-danger" %>

                  <i class="or">-  -</i>
                  <%= link_to "Rent-a-Lab-Manager", one_thousand_ml_path, class: "btn btn-large btn-block-third btn-warning" %>
            </div>
            <div class="camein">

                  <%= link_to "Subscribe to our data", two_hundred_ml_path, class: "btn btn-large btn-warning btn-block-third" %>

                  <i class="or">- -</i>
                  
                  <%= link_to "Learn More", about_us_url, class: "btn btn-large btn-success btn-block-third" %>

            </div>
          </div>
        </div>
      </div>
  </div>

</header>

  <div class="sky-background content-container group" id="share_your_voice">


      <div class="voices-intro">

        <h2>Share Your Voice</h2>
        <p class="second-p">This is the place to voice your opinion, ask for help, or make a suggestion about life in the lab. <strong>We're here to listen</strong>.</p>
        <p class="second-p">Our goal is to identify common sources of happiness and unhappiness in labs. Then we'll celebrate with you or find you a solution, respectively. Share your voice with other scientists and let's make life in the lab a happier place!</p>

      </div>
      <!-- <img src="voice_bubble.png" alt="voice bubble" id="voice-bubble"> -->

      <div class="voices-section group">
        <div class="voicesbox group">

        <div class="voices-background">
          <div class="voices-yellow group">
            <h5 class="happy">Happy</h5>
            <p>"My paper was accepted!"</p>
            <img src="smiley-face-test.png" alt="Happy voices from scientists" class="smiley-image">
          </div>
        </div>

          <div class="voices group">
            <h5 class="unhappy">Unhappy</h5>
            <p>"People borrowing your stuff without asking."</p>
          </div>

          <div class="voices-question group">
            <h5 class="question">Question</h5>
            <p>"How do I use twitter to communicate my research?"</p>
          </div>

        </div>

        <% if user_signed_in? %>
          <div class= "voices-textbox">
            <%= form_for @user_voice, :url => user_voices_path do |f| %>

              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div>
              <%= f.text_area :message, placeholder: "Share one thing that makes you happy or unhappy in your lab", :rows => 10, :columns => 8 %>
              </div>

              <div>
                <%= f.submit "Send", :class => "voices-btn" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="voices-textbox">
            <%= form_for @message, :url => voices_path do |f| %>
                <div>
                  <%= f.text_field :name, :placeholder => "Name" %>
                </div>

                <div>
                  <%= f.text_field :email, :placeholder => "Email" %>
                </div>

                <div>
                  <%= f.text_area :body, :placeholder => "Share one thing that makes you happy or unhappy in your lab, or ask us a question", :rows => 6 %>
                </div>

                <div>
                <%= f.submit "Send", :class => "voices-btn" %>
                </div>
            <% end %>
          </div>
        <% end %>


        <div class="voicesbox group">

          <div class="voices-question group">
            <h5 class="question">Question</h5>
            <p>"Is there an easier way to keep track of my mouse inventory?"</p>
          </div>

          <div class="voices-yellow group">
            <h5 class="happy">Happy</h5>
            <p>"Solid co-workers."</p>
            <img src="smiley-face-test.png" alt="Happy voices from scientists" class="smiley-image">
          </div>

          <div class="voices group">
            <h5 class="unhappy">Unhappy</h5>
            <p>"My snow boots have a hole in them and sitting here with wet feet sucks."</p>
          </div>

        </div>
      </div>

  </div>



</div>

