<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="responsive parallax Bootstrap template">
<meta name="author" content="ArtLabs">

<!-- ######################## Styles ######################
  =======================================================-->
<!--  <link href="assets/css/animate.min.css" rel="stylesheet">
 --><link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<!--<link href="assets/css/flat-ui.css" rel="stylesheet">-->


<!-- ####################################################################
  !important THIS FILE -= style.css =- ON BOTTOM OF BOOTSTRAP STYLEs  LIST
  It override bootstrap def. style
===================================================-->
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/style_override.css" rel="stylesheet">
<link href="assets/css/toms.css" rel="stylesheet">

<!-- FontAwesome styles (iconic font)-->
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<!-- prettyPhoto styles -->

<!-- Gallery inlarge script styles-->
<link href="assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Google web fonts -->
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,600' rel='stylesheet' type='text/css'>

<header id="header-section">

    <!-- START PARALLAX BG -->
  <div class="innerbg">
    <div class="leftbg">
    </div>


      <div class="hero-unit">
        <div class="container">
          <div class="row-fluid">
            <div class="text-center">
              <hr class="half">
                <h1>Our <span class="yellow">Mission</span>:</h1>
                <h2 class="text-center">
                <span class="get-it">to improve the happiness of scientists & the quality of their research</span>
                </h2>
              <hr class="half">
            </div>
            <div class="camein">

                  <%= link_to "SIGN UP NOW", new_subscriber_url, class: "btn btn-large btn-danger btn-block-third" %>

                  <i class="or">- or -</i>
                  <%= link_to "LEARN MORE", about_us_url, class: "btn btn-large btn-block-third btn-warning" %>
            </div>
          </div>
        </div>
      </div>
  </div>

</header>

      <div class="hello grid">
        <ul>
          <li>Hello</li>
          <li>Ni hao</li>
          <li>Guten tag</li>
          <li>Konichiwah</li>
          <li>Privet</li>
          <li>Namaste</li>
          <li>Guten tag</li>
          <li>Konichiwah</li>
        </ul>
      </div>

  <div class="midlevel grid group">

      <div class="voices-intro">

        <h2>Share Your Voice</h2>
        <p>This is the place to voice <span class="important">your opinion</span> about life in the lab. Warn us about a faulty product, tell us when an experiment works, or complain about a co-worker. We're here to listen.</p>

        <p><span class="important">Our goal</span> is to identify common sources of happiness and unhappiness in labs. Then we'll celebrate with you or find you a solution, respectively. Submit a comment quickly below or log in to keep track of your comments.</p>
      </div>

    <div class="voices-section group">
      <div class="voicesbox group">

        <div class="voices group">
          <h5 class="happy">Happy</h5>
          <p>"My paper was accepted!"</p>
        </div>

        <div class="voices group">
          <h5 class="unhappy">Unhappy</h5>
          <p>"Unmotivational motivational speeches from my PI"</p>
        </div>

        <div class="voices group">
          <h5 class="happy">Happy</h5>
          <p>"Getting brand new syringes that makes our mouse experiments go more smoothly."</p>
        </div>

      </div>

      <div class="voices-textbox">

        <%= form_for @message, :url => voices_path do |f| %>
            <div>
              <%= f.text_field :name, :placeholder => "Name" %>
            </div>

            <div>
              <%= f.text_field :email, :placeholder => "Email" %>
            </div>

            <div>
              <%= f.text_area :body, :placeholder => "Share one thing that makes you happy or unhappy in your lab", :rows => 6 %>
            </div>

            <div>
            <%= f.submit "Send", :class => "submit-btn btn btn-large btn-block-third btn-warning" %>
            </div>
        <% end %>
      </div>

      <div class="voicesbox group">

        <div class="voices group">
          <h5 class="unhappy">Unhappy</h5>
          <p>"People borrowing your stuff without asking."</p>
        </div>

        <div class="voices group">
          <h5 class="happy">Happy</h5>
          <p>"Solid co-workers."</p>
        </div>

        <div class="voices group">
          <h5 class="unhappy">Unhappy</h5>
          <p>"My snow boots have a hole in them and sitting here with wet feet sucks."</p>
        </div>

      </div>
    </div>

  </div>



</div>

