
<div class="grid voice-container">
  <div class="upper-section group">
    <h2 class="darktitle">Your job is knowing your research.</h2>
    <h2 class="darktitle">Our job is knowing your products.</h2>

    <div class="review-btn-row group">
      <div class="search-option">
        <h3>Search Quality Reviews</h3>
        <div class="review-btn btn btn-large btn-block-third btn-warning">
          Select a Category
        </div>
      </div>

      <div class="search-option">
        <h3>Who are the greenest companies?</h3>
        <div class="review-btn btn btn-large btn-block-third btn-warning">
          View Sustainability Ratings
        </div>
      </div>
    </div>
  </div>

  <div class="midlevel group">

      <div class="submit-option">
        <h3>Submit a Quality Review</h3>
        <div class="submit-btn btn btn-large btn-block-third btn-warning">
          Select a Category
        </div>
      </div>
      <div class="review-intro">
        <h4>Or quickly...</h4>
        <h3 class="darktitle">Share Your Voice</h3>
        <p>This is the place to <strong>voice your opinion</strong> about life in the lab. Warn us about a faulty product, tell us when an experiment works, or complain about a co-worker. We're here to listen.</p>
        <br>
        <p><strong>Our goal</strong> is to identify common sources of happiness and unhappiness in labs. Then we'll celebrate with you or find you a solution, respectively. Submit a comment quickly below or log in to keep track of your comments.</p>
      </div>

    <div class="voices-section group">
      <div class="voicesbox group">
        <div class="voices group">
          <h5>Happy</h5>
          <p>"My paper was accepted!"</p>
        </div>
        <div class="voices group">
          <h5>Unhappy</h5>
          <p>"Unmotivational motivational speeches from my PI"</p>
        </div>
        <div class="voices group">
          <h5>Happy</h5>
          <p>"Getting brand new syringes that makes our mouse experiments go more smoothly."</p>
        </div>
      </div>

      <div>

        <%= form_for @message, :url => voices_path do |f| %>
            <div>
              <%= f.text_field :name, :placeholder => "Name" %>
            </div>

            <div>
              <%= f.text_field :email, :placeholder => "Email" %>
            </div>

            <div>
              <%= f.text_area :body, :placeholder => "Share one thing that makes you happy or unhappy in your lab", :rows => 6 %>
            </div>

            <div>
            <%= f.submit "Send", :class => "submit-btn btn btn-large btn-block-third btn-warning" %>
            </div>
        <% end %>
      </div>

      <div class="voicesbox group">
        <div class="voices group">
          <h5>Unhappy</h5>
          <p>"People borrowing your stuff without asking."</p>
        </div>
        <div class="voices group">
          <h5>Happy</h5>
          <p>"Solid co-workers."</p>
        </div>
        <div class="voices group">
          <h5>Unhappy</h5>
          <p>"My snow boots have a hole in them and sitting here with wet feet sucks."</p>
        </div>
      </div>
    </div>
  </div>
</div>





















