<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @subscriber.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @subscriber.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @subscriber.email %>
</p>

<p>
  <b>Active:</b>
  <%= @subscriber.active %>
</p>


<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
