<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field">
    <%= f.text_field :name, placeholder: "Category Name"  %>
  </div>

  <div class="field">
    <%= f.text_field :fair_price, placeholder: "Fair Price (Do not put dollar sign here)"  %>
  </div>

  <div class="field">
    <%= f.text_field :price_quantity, placeholder: "Price out of how many?"  %>
  </div>

  <div class="field">
    <%= f.text_field :first_quality, placeholder: "First quality to look for"  %>
  </div>

  <div class="field">
    <%= f.text_field :second_quality, placeholder: "Second quality to look for"  %>
  </div>

  <div class="field">
    <%= f.text_field :third_quality, placeholder: "Third quality to look for"  %>
  </div>

  <div class="field">
    <%= f.text_field :youtube, placeholder: "YouTube Video"  %>
  </div>

  <div class="field">
    <%= f.text_field :paying_photo, placeholder: "Photo (paying)"  %>
  </div>

  <div class="field">
    <%= f.text_field :hl_logo, placeholder: "Happilabs Logo"  %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-danger" %>
  </div>
<% end %>
