<article class='manufacturer-preview'>
  <div class='man-preview-left'>

      <img src="../products/pipette100.png">
      <p class='brand center'><%= product.manufacturer_name %></p>
      <!-- <p class='center'>Distributor: <%= product.distributor_name %></p> -->
      
      <dl class='name-description'>
        <dt><%= product.product_name %></dt>
        <dd><%= product.product_desc %></dd>
      </dl>
      <dl class='product-number'>
        <dt>Product no.</dt>
        <dd><%= product.product_num %></dd>
      </dl>

    <% product.reviews.each do |review| %>
    <% @reviews = Review.where(product_id: product.id) %>
      <a href='' class='review-box'>
          <p> See scientist's reviews </p>
      </a>
  </div>

    <div class='man-preview-right center'>
      <dl class='rating'>
        <dt>Rating:</dt>
        <dd class="real-rating"><%= @reviews.average("rating") %></dd>
        <dd class='side-note'>(out of <%= @reviews.count("rating") %> reviews)</dd>
      </dl>
      <!-- <dl class='quality-price'>
        <dt>Quality:</dt>
        <dd>xxxxxxx</dd>
      </dl> -->
    <% end %>
  </div>
</article>
