<article class='manufacturer-preview'>
  <div class='man-preview-left'>

      <img src="../products/pipette100.png">
      <p class='brand center'><%= product.manufacturer_name %></p>
      <!-- <p class='center'>Distributor: <%= product.distributor_name %></p> -->

      <dl class='name-description'>
        <dt><%= product.product_name %></dt>
        <dd><%= product.product_desc %></dd>
      </dl>
      <dl class='product-number'>
        <dt>Product no.</dt>
        <dd><%= product.product_num %></dd>
      </dl>


      <%# link_to "See scientist's reviews", product, class: "review-box" %>
      <%= button_to "See #{product.product_name} reviews", product, class: "btn btn-info", method: :get %>

  </div>

      <% @reviews = Review.where(product_id: product.id) %>
    <div class='man-preview-right center'>
      <dl class='rating'>
        <dt>Rating:</dt>
        <dd class="real-rating"><%= @reviews.average("rating") %></dd>
        <dd class='side-note'>(out of <%= @reviews.count("rating") %> reviews)</dd>
      </dl>

  </div>
</article>
