<article class='manufacturer-preview'>
  <div class='man-preview-left'>

      <!-- <img src="../products/pipette100.png"> -->
      <p class='brand center'><%= product.manufacturer_name %></p>

      <dl class='name-description'>
        <!-- <dt><%= product.product_name %></dt> -->
        <dd><%= product.product_desc %></dd>
        <dd>Product #: <%= product.product_num %></dd>
      </dl>
  </div>

  <div class='man-preview-right center'>
      <dl class='rating'>
        <dt>RATING</dt>
      <% if product.reviews.present? %>
        <dd class="real-rating"><%= product.reviews.average("rating").round(1) %><span class="year"> /5.0</span></dd>
        <dd class='side-note'>(out of <%= product.reviews.count("rating") %> reviews)</dd>
      <% else %>
        <dd class="real-rating">0.0<span class="year"> /5.0</span></dd>
        <dd class='side-note'>(out of 0 reviews)</dd>
      <% end %>
      </dl>
      <div class="see-reviews-btn">
        <%= button_to "Explore reviews", product, class: "see-reviews-btn btn btn-info", method: :get %>
      </div>
  </div>
  <% if product.reviews.last.desc %>
  <p class="latest_review"><strong>Latest Review: </strong> "<%= product.reviews.last.desc %>"</p>
  <% end %>
</article>

