<div class="sky-background">
  <div class="container content-container grid group">

  <h1>Categories Index <%= link_to "Add a Category", new_category_path, class: "btn btn-primary" %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Fair Price ($)</th>
        <th>YouTube</th>
        <th>Edit</th>
				<th>Delete?</th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |cat| %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= link_to cat.name, category_path(cat.id) %></td>
        <td>$<%= cat.fair_price %> for <%= cat.price_quantity %> units</td>
        <td><%= cat.try(:youtube) %></td>
        <td><%= link_to "Edit ##{cat.id}", edit_category_path(cat.id) %></td>
        <td><%= link_to "Delete?", category_path(cat.id), method: :delete, confirm: "Are you sure?" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
