<div class="small-grid about-us">
  <p id="notice"><%= notice %></p>

      <!-- <div class="page-heading">
        <h1>PRODUCT SUMMARIES</h1>
        <div class="contact-us">
          <p>The scientific community has problems that need solving.</p>
        </div>
      </div> -->


  <div class='container group'>
    <aside class='category-review-list'>
      <h4>Select a Product to Review</h4>
      <ul>
      <% @categories.each do |cat| %>
        <li><%= link_to "#{cat.name}", category_url(cat.id) %></a></li>
      <% end %>
      </ul>
    </aside>

    <section class='category-review-show group'>
    	<div class='selected-category-frame'>
        <% #TODO - switch out static photo for dynamic photos %>

        <!-- This picture is still a placeholder -->
        <!-- make sure this picture is above the h3 tag -->
        <div id="img-transparent">
          <% if @category.products.present? %>
          <img src=<%= @category.products.first.photo %>>
          <% end %>
        </div>
        <!-- This picture is still a placeholder -->
        <!-- make sure this picture is above the h3 tag -->
        <h3><%= @category.name %> Summary</h3>
        <%#= image_tag "../products/pipette100.png" %>
        <% if current_user.try(:subcription_level) == "200" || current_user.try(:subcription_level) == "1000" %>
          <dl class='center'>
            <dt>Fair Price <br>for Academia =</dt>
            <dd>$<%= @category.fair_price %></dd>
            <p class="quantity">per <%= @category.price_quantity %></p>
          </dl>
        <% else %>
        <dl class='center noprice-summary-text'>
          <p><span id="fair-price-topay">What is a fair price?</span><br>Pricing Information <br> currently available <br>for 200µl or 1000µl <br> <strong>services</strong> only</p>
        </dl>
        <% end %>
        <ul>
          <h4>Qualities to look for:</h4>
          <li><%= @category.first_quality %></li>
          <li><%= @category.second_quality %></li>
          <li><%= @category.third_quality %></li>
        </ul>
      </div>

      <h3 id="category-brand-title">Brand Ratings & Reviews</h3>
<!-- @users.collect(&:score).sum.to_f/@users.length if @users.length > 0 -->

          <% @category.products_sorted_by_average_product_rating.each do |prod| %>
            <%= render "product", :product => prod %>
          <% end %>

          <h5 id="no-brand">Is your brand NOT listed? Send a message and we'll list it: <strong>hello@happilabs.org</strong>. Thank you for your patience as we continue to expand the site.</h5>
    </section>
  </div>
</div>

<script>
$(document).ready(function() {
 $('#nav_reviews').addClass('active');
});
</script>
