<p id="notice"><%= notice %></p>


<h1 class='container'>Product Ratings and Reviews</h1>
<div class='container group'>
  <aside class='category-review-list'>
    <h4>Select a Category</h4>

    <ul>
    <% @categories.each do |cat| %>
      <li><%= link_to "#{cat.name}", category_url(cat.id) %></a></li>
    <% end %>
    </ul>
  </aside>
  <section class='category-review-show'>
  	<div class='selected-category-frame'>
      <h4><%= @category.name %></h4>
    </div>
    <article class='manufacturer-preview'>
  		<!-- insert manufacturer preview in here -->
      <ul>
        <li>Product 1 </li>
        <li>Product 2 </li>
        <li>Product 3 </li>
        <li>Product 4 </li>
        <li>Product 5 </li>

      </ul>
  	</article>
  </section>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
