<div class="small-grid about-us">
  <p id="notice"><%= notice %></p>

      <!-- <div class="page-heading">
        <h1>PRODUCT SUMMARIES</h1>
        <div class="contact-us">
          <p>The scientific community has problems that need solving.</p>
        </div>
      </div> -->


  <div class='container group'>


<!-- ***********   Product Menu   ***************-->


    <aside class='category-review-list'>
      <h4>Select a Category</h4>
      <ul>
      <% @categories.each do |cat| %>
        <% if cat.id == params[:id].to_i %>
        <li><%= link_to "#{cat.name}", category_url(cat.id), class: "category-review-list-selected" %></li>
        <% else %>
        <li><%= link_to "#{cat.name}", category_url(cat.id) %></li>
        <% end %>
      <% end %>
      </ul>
    </aside>


    <!-- ***********   Product Menu Ends  ***************-->

      <div class='selected-category-frame'>
          <div id="img-transparent">
            <% if @category.products.present? %>
            <img src=<%= @category.products.first.photo %>>
            <% end %>
          </div>

          <h1><%= @category.name %></h1>

          <a href="http://www.happilabs.org/200ml">
            <div id="category-frame-right">
              <h2>Fair price to pay: </h2>

                <% if current_user.try(:subcription_level) == "200" || current_user.try(:subcription_level) == "1000" %>
                <dl class='center'>

                  <dd>$<%= @category.fair_price %></dd>
                  <p class="quantity">per <%= @category.price_quantity %></p>
                </dl>
              <% else %>
              <dl class='center noprice-summary-text'>
                <p>Price data available with <strong>200ul SERVICE</strong></p>
              </dl>
              <% end %>

            </div>
          </a>

          <%# link_to "View on YouTube", @category.try(:youtube) %>
      </div>



    <section class='category-review-show group'>
      <% if user_signed_in? %>
        <div class="write-review-btn">
          <%= button_tag "Write a review", class: "btn btn-danger see-reviews-btn", id: "add_review_button" %>
        </div>

      <div id="big_review_form">
        <div class='selected-category-frame'>
        <!-- <h2>Write a review</h2> -->
          <%= form_for(@review) do |f| %>
            <% if @review.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@review.errors.count, "error") %> prevented this review from being saved:</h2>

                <ul>
                <% @review.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>

            <div class="row">
              <div class="span3">
                <%= f.label :Brand %>
                <%= f.select :product_id, options_from_collection_for_select(Product.where(category_id: params[:id]), :id, :manufacturer_name) %>
              </div>
              <div class="span3">
                  <%= f.label :rating %>
                <%= f.select :rating, options_for_select([
                  ["5 Extremely happy (never a problem)", "5"],
                    ["4", "4"],
                    ["3 Neither happy nor unhappy", "3"],
                    ["2", "2"],
                    ["1 Extremely unhappy (frequent problems)", "1"]]) %>
              </div>
            </div>

            <div class="row">
              <div class="span3">
                <h5 class="blue no_margin">Features to review</h5>
                <li><%= @category.first_quality %></li>
                <li><%= @category.second_quality %></li>
                <li><%= @category.third_quality %></li>
              </div>
              <div class="span3">
                <!-- <%# f.label :desc, "Your Review:" %><br /> -->
                <%= f.text_area :desc, rows: 12 , placeholder: "Write your review here..." %>

              </div>

            </div>


            <br>

            <div class="actions">
              <%= f.submit :class => "btn btn-danger float-right button" %>
            </div>

          <% end %><!-- end review form -->
        </div>
      </div><!-- end #big_review_form -->
      <% end %>


      <!-- ****** Begin section for brands of products ******** -->

        <% unless user_signed_in? %>
          <div class="margin-left">
            <%= link_to "LOGIN to write a review", new_user_session_path, class: "see-reviews-btn btn btn-success" %>
          </div>
        <% end %>

      <h3 id="category-brand-title">Ratings & Reviews</h3>

          <% if request.fullpath.include?("sorted_alphabetically") %>
            <p class="sorted_products"><%= link_to "Sort by Rating", category_path %></p>
          <% else %>
            <p class="sorted_products"><%= link_to "Sort Alphabetically", categories_sorted_alphabetically_path %></p>
          <% end %>



          <% @product_list.each do |prod| %>
            <%= render "product", :product => prod %>
          <% end %>

          <h5 id="no-brand">Is your brand NOT listed? Send a message and we'll list it: <strong>hello@happilabs.org</strong>. Thank you for your patience as we continue to expand the site.</h5>
    </section>
  </div>
</div>

<script>
$(document).ready(function() {
 $('#nav_reviews').addClass('active');

 $('#big_review_form').hide();
 $("#add_review_button").click(function(){
   $("#big_review_form").fadeToggle("slow", "linear");
 });

});
</script>
