<div class="small-grid">
<div id='header-fix'></div>

  <h2><%= @product.manufacturer_name %> Reviews</h2>
  <p id="notice"><%= notice %></p>

  <div class='container group'>

    <aside class='category-review-list'>
      <h4>Select a Product to Review</h4>
      <ul>
        <% @categories.each do |category| %>
          <% if category.id == Product.find_by_id(params[:id]).category.id.to_i %>
            <li><%= link_to category.name, category, class: "category-review-list-selected" %></li>
          <% else %>
            <li><%= link_to category.name, category %></li>
          <% end %>
        <% end %>
      </ul>
    </aside>

    <section class='show-page-content'>
      <article class='product-summary group'>
        <div>
          <!-- Alex, place that Ruby code right here :) -->
          <% if @product.photo.present? %>
            <img src="<%= @product.photo %>">
          <% end %>
          <p class='circle-note'>
            <b>Product #:</b>
            <%= @product.product_num %>
          </p>
        <!-- <p>
          <b>Photo:</b>
          <%= @product.photo %>
        </p> -->
        </div>

        <div>
          <!-- <h3><%= @product.manufacturer_name %></h3>
          <h4><%= @product.product_name %></h4> -->
          <div class="rating2">
            <h4>RATING</h4>
        <% if @product.reviews.present? %>
            <h1 class="real-rating2"><%= @product.reviews.average("rating").round(1) %><span class="year"> /5.0</span></h1>
            <p class='side-note-dark'>(out of <%= @product.reviews.count("rating")  %> reviews)</p>
        <% else %>
            <h1 class="real-rating2">0.0<span class="year"> /5.0</span></h1>
            <p class='side-note-dark'>(out of 0 reviews)</p>
        <% end %>
          </div>
        </div>
        <div>
          <!-- <p class='side-note-dark'>
            <b>Product num:</b>
            <%= @product.product_num %>
          </p> -->
          <% if current_user.try(:subcription_level) == "200" || current_user.try(:subcription_level) == "1000" %>
            <h5>Fair Price for academia:</h5>
            <h3><%= @product.price %></h3>
          <div class="noprice-summary-text">
          <% else %>
            <p><span id="fair-price-topay">What is a fair price?</span><br>Pricing Information currently available for 200µl or 1000µl services only</p>
          <% end %>
         <!--  Alex, the new product URL goes right here :) -->
          <a href="<%= @product.url if @product.url %>">Quality Documentation</a>
        </div>
      </article>
    </section>


    <section class='all-reviews-container'>

      <% if current_user.present? %>
        <br>

        <div class="write-review-btn">
          <%= button_tag "+ Write a review for #{@product.product_name}", class: "btn btn-info see-reviews-btn", id: "product_show_review_button" %>
        </div>

        <br>
        <div id="product_show_review">
          <%= form_for @review do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :product_id, :value => params[:id] %>
            <div class="field">
            <%= f.label :rating, "This product makes me"%>
            <%= f.select :rating, options_for_select([
              ["5 Extremely happy (never a problem)", "5"],
              ["4", "4"],
              ["3 Neither happy nor unhappy", "3"],
              ["2", "2"],
              ["1 Extremely unhappy (frequent problems)", "1"]]) %>
            </div>
            <div class="field">
              <%= f.label :desc, "Write your review" %>
              <%= f.text_area :desc, rows: 6 %>
            </div>
<!--             <div class="field">
              <p><%# f.label :user_recommended, "Recommended?" %>
              <%# f.check_box :user_recommended %></p>
            </div>
            <div class="field">
              <p><%# f.label :make_anonymous, "Make Anonymous?" %>
              <%# f.check_box :make_anonymous %></p>
            </div> -->
            <br>
            <div class="actions">
              <%= f.submit :class => "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="write-review-btn">
        <%= link_to "Sign up to Write a Review", new_user_registration_path, class: "btn btn-info see-reviews-btn" %>
        </div>
      <% end %>

      <% @reviews.reverse.each do |review| %>
      <article class='individual-review-container'>
        <% if current_user && current_user.try(:id) == review.user.id %>
        <p><%= review.rating %> / 5 | <%= review.updated_at.strftime("%B %d, %Y") %> (<%= link_to "edit", edit_review_url(review) %>/<%= link_to "delete", review , method: :delete, confirm: "Are you sure ou want to delete this review?" %>)</p>
        <% else %>
        <p><%= review.rating %> / 5 | <%= review.updated_at.strftime("%B %d, %Y") %></p>
        <% end %>
        <p><b>Reviewed by: </b><%= review.user.first_name.capitalize %> <%= review.user.last_name.first.capitalize %>. <%= "from #{review.user.organization}" if review.user.organization != "" %>
        </p>
        <p><%= review.desc %></p>
      </article>
      <% end %>
    </section>
  </div>

  <% if current_user.try(:admin) == true %>
  <div class='container group'>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', :back %>
  </div>
  <% end %>

</div>


  <script>

  $(document).ready(function() {
   $('#nav_reviews').addClass('active');
  });

  $('#product_show_review').hide();
  $("#product_show_review_button").click(function(){
    $("#product_show_review").fadeToggle("slow", "linear");
  })


  </script>
