<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Admin approved:</b>
  <%= @review.admin_approved %>
</p>

<p>
  <b>Make anonymous:</b>
  <%= @review.make_anonymous %>
</p>

<p>
  <b>User recommended:</b>
  <%= @review.user_recommended %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Desc:</b>
  <%= @review.desc %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
