<!DOCTYPE html>
<html>
<head>
  <title>HappiLabs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


    <!-- navbar-fixed-top -->
      <div class="navbar navbar-fixed-top navbar-inverse" id="top-nav">
    <!-- INNER-->
        <div class="navbar-inner">
          <div class="container">

      <!-- Collapse button -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

                  <!-- LOGO -->
                  <a class="brand" href="/">
                    <img src="happi_labs_logo_navbar.png" alt="happilabs logo" title="Welcome to HappiLabs for scientists and lab managers" class="logo-shrink">
                  <!-- <span><span class="yellow">Happi</span>Labs<span style="color:#898989">.org</span></span> -->
                  </a>

         <!-- TOP NAVIGATION-->
         <div id="main-nav" class="scroller-spy">
          <nav class="nav-collapse collapse" >
            <ul class="nav pull-right" id="nav">
              <!-- #TODO: make active page highlighted- can use class="active" but needs to be dynamic -->
            <li><%= link_to "About", about_us_path %></li>
            <li><%= link_to "Subscriptions", sign_up_path %></li>
            <li><%= link_to "Reviews", categories_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            </ul>
          </nav>
          </div>

          </div>
        </div>
      </div>
  <div class="whoareyou">
    <ul>
      <li>
          <div id="user_nav">
            <% if user_signed_in? %>
            <li><%= link_to 'Profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign up", sign_up_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </div>
      </li>
    </ul>
  </div>
</head>
<body>

<%= yield %>


</body>
  <footer>
        <div class="footer-col">
          <a class="twitter-timeline" href="https://twitter.com/HappiLabs_org" data-widget-id="344562470310010880">Tweets by @HappiLabs_org</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        </div>
      <!-- <div class="footer-col">
        <img src="img/cloud.png" alt="HappiLabs community" class="footer-cloud">
      </div> -->
      <div class="footer-col">
        <h5>About HappiLabs</h5>
        <ul>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "People Who Make It Happen", our_people_path   %></li>
          <li><%= link_to "What We Do", about_us_path %></li>
          <li><%= link_to "How We Do It", about_us_path(anchor: "how_we_do_it") %></li>
          <li><%= link_to "Why We Do It", about_us_path(anchor: "why_we_do_it") %></li>
          <li><%= link_to "Privacy Policy", "#" %></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5>Reviews</h5>
        <ul>
          <li><%= link_to "Search Reviews", categories_path %></li>
          <li><%= link_to "Sign up to Submit Reviews", new_user_registration_path %></li>
        </ul>
      </div>
      <div class="footer-col">
        <h5>Join Us</h5>
        <ul>
          <li><%= link_to "Receive Our Newsletter", new_subscriber_path %></li>
          <li>
        </ul>
            <ul><li><h5>Sign Up</h5></li>
              <li><%= link_to "10 µL - FREE", new_user_registration_path %></li>
              <li><%= link_to "200 µL - Access Data", sign_up_path %></li>
              <li><%= link_to "1000 µL - Rent-a-Lab-Manager", sign_up_path %></li>
            </ul>
          </li>
        </ul>
      </div>

  </footer>
</html>
