<!DOCTYPE html>
<html>
<head>
  <title>HappiLabs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
	<meta name="title" content="Happilabs: virtual lab managers who specialize in lab shopping, purchasing, procurement, quality and sustainability ratings, reviews, reports, and consulting consultants for happy lab managers about scientific products, management, and lab supplies">
	<meta name="description" content="HappiLabs provides affordable virtual lab managers for small academic labs and biotech companies. Happy scientists is our goal.">
  <meta name="keywords" content="happilabs, happi labs, happy labs, happy scientists, quality, sustainability, price comparison, research, lab supplies, lab equipment scientific products, reviews, ratings, suppliers, lab manager">
  <meta name="author" content="Tom Ruginis">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42727054-1', 'happilabs.org');
  ga('send', 'pageview');

</script>
</head>
    <!-- navbar-fixed-top -->
      <div class="navbar navbar-fixed-top navbar-inverse" id="top-nav">
    <!-- INNER-->
        <div class="navbar-inner">
          <div class="container">

      <!-- Collapse button -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

                  <!-- LOGO -->
                  <a class="brand" href="/">
                    <img src="/happi_labs_logo_navbar.png" alt="happilabs logo" title="Welcome to HappiLabs for scientists and lab managers" class="logo-shrink">
                  <!-- <span><span class="yellow">Happi</span>Labs<span style="color:#898989">.org</span></span> -->
                  </a>

         <!-- TOP NAVIGATION-->
         <div id="main-nav" class="scroller-spy">
          <nav class="nav-collapse collapse" >
            <ul class="nav pull-right" id="nav">
              <!-- #TODO: make active page highlighted- can use class="active" but needs to be dynamic -->
              <li id="about"><%= link_to "About HL", about_us_path %></li>
              <!-- <li id= "nav_reviews"><%= link_to "Lab reviews", categories_path %></li> -->
              <li id="sign_up"><%= link_to "Services", sign_up_path %></li>
              <li id="contact"><%= link_to "Contact", contact_path %></li>
              <li id="contact"><a href="http://happilabs.wordpress.com/">Blog</a></li>

              <!-- <li>
                  <div>
                    <div id="user_nav">
                      <ul class="whoareyou">
                        <%# if user_signed_in? %>
                        <li><%#= link_to 'Profile', edit_user_registration_path %></li>
                        <li><%#= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        <%# else %>
                        <li><%#= link_to "Sign up", new_user_registration_path %></li>
                        <li><%#= link_to "Login", new_user_session_path %></li>
                        <%# end %>
                      </ul>
                    </div>
                  </div>
              </li> -->

            </ul>
          </nav>
          </div>

          </div>
        </div>
      </div>
<body>

<%= yield %>


</body>
  <footer>
        <div class="footer-col">
          <a class="twitter-timeline" href="https://twitter.com/HappiLabs_org" data-widget-id="344562470310010880">Tweets by @HappiLabs_org</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


        </div>
      <!-- <div class="footer-col">
        <img src="img/cloud.png" alt="HappiLabs community" class="footer-cloud">
      </div> -->
      <div class="footer-col">
        <h5>About HappiLabs</h5>
        <ul>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "What We Do", about_us_path %></li>
          <li><%= link_to "How We Do It", about_us_path(anchor: "how_we_do_it") %></li>
          <li><%= link_to "Why We Do It", about_us_path(anchor: "why_we_do_it") %></li>
          <li><%= link_to "People Who Make It Happen", our_people_path %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path   %></li>
          <li><a href="http://www.happilabs.org/jobs">Science Jobs</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5>Happy Services</h5>
        <ul>
          <li><a href="http://happilabs.wordpress.com/">FREE advice at our blog</a></li>
          <li><%= link_to "Reviews about Lab Supplies", categories_path %></li>
          <li><%= link_to "Lab Shopping Consultants", two_hundred_ml_path %></li>
          <li><%= link_to "Hire a Virtual Lab Manager™", one_thousand_ml_path %></li>
        </ul>
      </div>
      <div class="footer-col">
        <h5>Receive our newsletter</h5>
            <ul>

              <li id="newsletter-text">For info about jobs and recommendations for managing your lab</li>
            </ul>
            <ul>
              <!-- <li>Receive our newsletter</li> -->
              <% @subscriber = Subscriber.new %>
              <%= form_for(@subscriber) do |f| %>
                <% if @subscriber.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

                    <ul>
                    <% @subscriber.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">

                  <%= f.text_field :first_name, placeholder: "Name" %>
                </div>

                <div class="field">
                  <%= f.text_field :email, placeholder: "Email" %>
                </div>

                <div class="actions">
                  <%= f.submit "Submit", :class => "btn btn-success" %>
                </div>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>

  </footer>
</html>



